<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ultra&display=swap" rel="stylesheet">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="static\css\style.css">
     

    <title>Diabetes Prediction</title>
</head>

<body>

    <header>
        <h1>Diabetes Prediction</h1>
    </header>

    <br>

    <div class="container">
        <form action="/predict" method="POST">


            <input type="text" name="pregnancies" placeholder="Number of times pregnant" required="required">
            <br>
            <input type="text" name="glucose" placeholder="Glucose Level (Like 120)" required="required">
            <br>
            <input type="text" name="bloodPressure" placeholder="Blood Pressure Level (Like 66)" required="required">
            <br>
            <input type="text" name="SkinThickness" placeholder="Skin Thickness Level (Like 35 in mm)" required="required">
            <br>
            <input type="text" name="Insulin" placeholder="Insulin Level(Like 30 in ml)" required="required">
            <br>
            <input type="text" name="BMI" placeholder="BMI (Like 35.7)" required="required">
            <br>
            <input type="text" name="Diabetes Pedigree Function" placeholder="Diabetes Pedigree Function (Like 0.765)"
                required="required">
            <br>
            <input type="text" name="Age" placeholder="Age" required="required">
            <br>
            <br>
            <button type="submit" class="btn btn-outline-warning">Predict</button>


        </form>

        <br>
        <br>

        <h3><strong>{{ prediction_text }}</strong></h3>

        <br>
        <br>

      


    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>